

body{
    background-color: black;
}

.poem{
    display: block;
    position: relative;
    width: 100%;
}

.poem img{
    
    position: absolute;
    top: 200px;
    left: 250px;
}

    

.poem .box{
    position: absolute;
    border: 1px solid black;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 400px;
    top: 300px;
    left: 450px;
    border-radius: 605px
}

