@font-face {
    font-family: Swalt;
    src: url(/KirimomiSwash/TTF/KirimomiSwaIt.ttf);
}
@font-face {
    font-family: Swash;
    src: url(/KirimomiSwash/TTF/KirimomiSwash.ttf);
}

.bg {
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-image: url(/image/poembg.jpeg); */
    /* Replace 'background.jpg' with your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.poem-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.poem h2 {
    /* max-width: 600px; */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    /* margin: 0px 0px -136px 427px;
    height: 666px; */
    position: absolute;
    font-family: Swalt;
    font-size: 50px;
    color: #44413c;
    text-shadow: 0px 0px 8px #44413c;
    top: 350px;
    left: 875px;

}

.poem p {
    position: absolute;
    width: 700px;
    left: 750px;
    top: 550px;
    line-height: 2.2;
    font-family: Swalt;
    font-size: 22px;
    /* text-indent: 0px; */
    color: #44413c;

}