.container{
    border: 1px solid green;
    background-color: aquamarine;
    text-align: center;
    
}
.container2{

 border: 1px solid grey;
 background-color: azure;
 text-align: center;
}
.container3{

    border: 1px solid grey;
    background-color: azure;
    text-align: center;
   }