@font-face {
    font-family: Unlock;
    src: url(../Myfont/Unlock/Unlock-Regular.ttf);
}

body {
    background-color: rgb(0, 0, 0);



}

.head {
    display: block;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
}

div .logo {
    border: none;
    position: absolute;
    width: 180px;
    left: 200px;
    padding: 2px;
    margin: 10px;
    cursor: pointer;
}

header .navbar {
    display: inline-block;
    position: absolute;
    left: 500px;
    top: 0px;
    cursor: pointer;
    /* margin: 20px 0px 0px 600px;  */
}

.navbar li {
    display: inline-block;
    color: white;
    padding: 30px;


}

.button {
    position: absolute;
    right: 200px;
    top: 20px;
}

.btn1 {

    position: absolute;
    right: 120px;
    width: 150px;
    color: white;
    background-color: black;
    border-color: white;
    padding: 20px;
    border-radius: 60px;
    cursor: pointer;

}

.btn2 {
    position: absolute;
    right: -75px;
    top: 0px;
    width: 180px;
    color: white;
    background-color: red;
    border-radius: 50px;
    padding: 20px;
    text-align: left;
    cursor: pointer;
}

.imgbtn2 {
    position: absolute;
    width: 50px;
    top: 4px;
    cursor: pointer;
}

.head2 {
    display: block;
    position: relative;

}

.bg {
    position: absolute;
    width: 100%;
    height: 580px;
    cursor: pointer;
}

.head3 {
    display: block;
    color: white;
    position: relative;
    /* border: 1px solid red; */
    width: 100%;
    top: 600px;
    text-align: center;
}

.head3 h2 {

    font-family: sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 15px;
}

.head3 h2 span {

    font-size: 48px;
    font-family: Unlock;
    font-weight: bold;
    color: red;
}

.head3 h3 {
    font-family: sans-serif;
    font-style: normal;
    font-size: 28px;
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 2px;

}

.head3 p {
    color: rgb(214, 214, 214);
    font-size: 18px;
    word-spacing: 4px;
}

.head3 .images .img1 {
    position: absolute;
    border: 1px solid white;
    background-color: aliceblue;
    height: 120px;
    left: 350px;
    top: 200px;
    border-radius: 4px;
}

.head3 .images .img2 {
    position: absolute;
    border: 1px solid white;
    background-color: aliceblue;
    height: 120px;
    left: 674px;
    top: 200px;
    border-radius: 4px;
}

.head3 .images .img3 {
    position: absolute;
    border: 1px solid white;
    background-color: aliceblue;
    height: 120px;
    left: 995px;
    top: 200px;
    border-radius: 4px;

}

div .button2 {
    position: relative;
    top: 200px;
    right: 18px;

}

div .button2 .btn21 {
    position: absolute;
    padding: 15px;
    width: 150px;
    right: 1056px;
    border-radius: 75px;
    color: white;
    background-color: black;
    /* border-top-color: white;
    border-bottom-color:white ;
    border-right-color: grey;
    border-left-color: grey; */
    cursor: pointer;
}

div .button2 .btn2-2 {
    position: absolute;
    padding: 15px;
    width: 150px;
    right: 725px;
    border-radius: 75px;
    color: white;
    background-color: black;
    cursor: pointer;
}

div .button2 .btn2-3 {
    position: absolute;

    padding: 15px;
    width: 150px;
    right: 407px;
    border-radius: 75px;
    color: white;
    background-color: black;
    cursor: pointer;

}

/* section .head4 start */
.head4 {
    display: block;
    border: 1px solid black;
    background-color: rgb(16 16 16);
    position: relative;
    top: 874px;
    height: 1400px;
    /* z-index: 1; */
}

.head4 h1 {
    position: absolute;
    left: 690px;
    font-size: 50px;
    font-weight: bolder;
    font-family: Unlock;
    color: red;

}

.head4 h2 {
    position: absolute;
    left: 615px;
    top: 48px;
    color: white;
    font-size: 48px;
    font-weight: 100;
    font-family: unlock;
}

.head4 p {
    position: absolute;
    left: 496px;
    top: 150px;

    font-size: 18px;
    color: rgb(214, 214, 214);

}

/* css head4 start Islamabad */
.head4 #img1 {
    position: absolute;
    top: 220px;
    left: 860px;
}

.head4 .location {
    position: absolute;
    width: 30px;
    top: 352px;
    left: 180px;
}

.head4 .phone {
    position: absolute;
    width: 30px;
    top: 404px;
    left: 180px;
}

.head4 .txt1 {
    position: absolute;
    top: 240px;
    left: 183px;
}

.head4 .txt1 span {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    word-spacing: 200px;
    letter-spacing: 4px;
    font-weight: lighter;
}

.head4 .txt {
    position: absolute;
    top: 220px;
    margin: 30px 0px 0px -305px;
    letter-spacing: 4px;
}

.head4 .txt2 {
    margin: 200px 0px 0px -270px;
    line-height: 50px
}

.head4 button {

    position: absolute;
    top: 447px;
    left: 200px;
    padding: 20px;
    border-radius: 100px;
    width: 200px;
    text-align: left;
    background-color: black;
    color: white;
    cursor: pointer;
}

.head4 .img2 {
    position: absolute;
    width: 40px;
    top: 458px;
    left: 330px;
    z-index: 1;
    cursor: pointer;
}

/* css head4 islamabad end */

/* css head4 faisalabad start */
.head4 .img3 {
    position: absolute;
    top: 600px;
    left: 200px;
}

.head4 .txt4 {
    position: absolute;
    top: 600px;
    left: 853px;
}

.head4 .txt4 span {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    word-spacing: 200px;
    letter-spacing: 4px;
    font-weight: lighter;
}

.head4 .txt5 {
    position: absolute;
    top: 590px;
    left: 860px;
    letter-spacing: 4px;
}

.head4 .txt6 {
    position: absolute;
    top: 700px;
    left: 910px;
    line-height: 50px;
}

.head4 .fd {
    position: absolute;
    width: 200px;
    padding: 20px;
    color: white;
    background-color: black;
    top: 830px;
    left: 900px;
    border-radius: 100px;

}

.head4 .img4 {
    position: absolute;
    z-index: 1;
    width: 40px;
    right: 577px;
    top: 839px;
}

.head4 .location2 {

    position: absolute;
    width: 30px;
    top: 720px;
    right: 756px;

}

.head4 .phone2 {
    position: absolute;
    width: 30px;
    top: 770px;
    right: 756px;
}

/* css head4 faisalabad end */

/* css head4 Bahawalpur */
.head4 .img5 {
    position: absolute;
    bottom: 100px;
    right: 220px;

}

.head4 .txt7 {
    position: absolute;
    bottom: 280px;
    left: 195px;
}

.head4 .txt7 span {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    word-spacing: 200px;
    letter-spacing: 4px;
    font-weight: lighter;
}

.head4 .txt8 {
    position: absolute;
    top: 980px;
    left: 200px;
    letter-spacing: 4px;
}

.head4 .txt9 {
    position: absolute;
    top: 1100px;
    left: 250px;
    line-height: 50px;
}

.head4 .fd2 {
    position: absolute;
    top: 1225px;
    left: 245px;
}

.head4 .img6 {
    position: absolute;
    width: 40px;
    bottom: 125px;
    left: 370px;
    cursor: pointer;
}

.head4 .location3 {
    position: absolute;
    width: 30px;
    bottom: 250px;
    left: 200px;
}

.head4 .phone3 {
    position: absolute;
    width: 30px;
    bottom: 197px;
    left: 200px;
}

/* css head4 Bahawalpur end */
/* section head4 end */


/* section footer start */
.footer {
    display: block;
    position: relative;
    width: 100%;
    height: 550px;
    top: 858px;
    background-color: rgb(0, 0, 0);
    font-family: serif;
}

.footer .logoimg {
    position: absolute;
    top: 60px;
    left: 100px;
}

.footer div p {
    position: absolute;
    color: white;
    width: 500px;
    top: 130px;
    left: 100px;
    line-height: 30px;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 18px;

}

.footer .links h3 {
    position: absolute;
    color: white;
    top: 60px;
    left: 700px;
    font-size: 18px;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.footer .links ul{
    position: absolute;
    top: 115px;
    color: white;
    list-style-type: none;
    font-size: 18px;
    font-family: sans-serif;
    left: 661px;
    line-height: 50px;
    letter-spacing: 4px;
    word-spacing: 2px;

}
.footer .links ul li:hover{
      color: rgb(159, 159, 159);
      cursor: pointer;
}

.footer .contact h3{
    position: absolute;
    color: white;
    top: 60px;
    right: 590px;
    font-size: 18px;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.footer .contact ul{
    position: absolute;
    top: 115px;
    right: 450px;
    color: white;
    list-style-type: none;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 50px;
    letter-spacing: 4px;
    word-spacing: 2px;
}

.footer .contact p{
    position: absolute;
    top: 375px;
    color: white;
    left: 965px;
    width: 300px;
    line-height: 30px;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 18px;
}




/* section footer end */